# http://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories
jsdoc/
doc/
coverage/
dist/
node_modules/
examples/**/node_modules/
# todo: encrypt a compatible version of this
test/resources/auth.js
