node_modules
npm-debug.log
npm-debug.log.*
coverage
.DS_Store
test/resources/auth.js
test/resources/-auth.js # to make sure tests run without the auth file
test/resources/tts-output.ogg
test/resources/secrets.tar
.idea
doc/
.vscode/
dist/
.env
.eslintcache
examples/speech_to_text_microphone_input/*.wav
examples/speech_to_text_microphone_input/*.txt
lib/*.js
conversation/*.js
dialog/*.js
discovery/*.js
natural-language-understanding/*.js
text-to-speech/*.js
speech-to-text/*.js
authorization/*.js
assistant/*.js
iam-token-manager/*.js
index.js
sdk.js
.nyc_output
**/*.d.ts
!*/blob.d.ts
**/*.js.map
coverage.lcov
.swagger-codegen-ignore
*.log
*.tmp
.pre-commit-config.yaml
.secrets.baseline
