node_modules
npm-debug.log
npm-debug.log.*
coverage
.DS_Store
test/resources/auth.js
test/resources/-auth.js # to make sure tests run without the auth file
test/resources/tts-output.ogg
test/resources/visual_recognition.prepop/images
.idea
doc/
.vscode/
dist/
.env
.eslintcache
examples/speech_to_text_microphone_input/*.wav
examples/speech_to_text_microphone_input/*.txt
lib/*.js
conversation/*.js
dialog/*.js
discovery/*.js
language-translator/*.js
natural-language-classifier/*.js
natural-language-understanding/*.js
personality-insights/*.js
tone-analyzer/*.js
visual-recognition/*.js
text-to-speech/*.js
speech-to-text/*.js
authorization/*.js
assistant/*.js
iam-token-manager/*.js
index.js
.nyc_output
**/*.d.ts
!*/blob.d.ts
**/*.js.map
coverage.lcov
.swagger-codegen-ignore
