node_modules/*
npm-debug.log
coverage
.DS_Store
test/resources/auth.js
test/integration/
test/resources/tts-output.ogg
doc/
lib/
conversation/
dialog/
discovery/
language-translator/
natural-language-classifier/
natural-language-understanding/
personality-insights/
tone-analyzer/
visual-recognition/
text-to-speech/
speech-to-text/
authorization/
dist/
index.js
.nyc_output
**/*.d.ts
**/*.js.map