{
  "branch": "master",
  "verifyConditions": ["@semantic-release/changelog", "@semantic-release/npm", "@semantic-release/git"],
  "prepare": ["@semantic-release/changelog", "@semantic-release/npm", "@semantic-release/git"],
  "publish": [
    ["@semantic-release/npm", {
      "pkgRoot": "dist"
    }],
    {
      "path": "@semantic-release/github",
      "assets": [
        {"path": "dist/dist/watson.js"},
        {"path": "dist/dist/watson.min.js"}
      ]
    }
  ]
}
