{
  "branch": "master",
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": [
        {"path": "dist/watson.js"},
        {"path": "dist/watson.min.js"}
      ]
    }
  ]
}