language: node_js
sudo: false
node_js:
- '0.12'
- 4.2
- stable
script:
- npm test
after_success:
- npm run coveralls
before_install:
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && openssl aes-256-cbc
     -K $encrypted_d4f181ef7c79_key -iv $encrypted_d4f181ef7c79_iv
     -in auth.js.enc -out test/resources/auth.js -d
   || true'
