language: node_js
sudo: false # causes tests to be run in Travis CI's newer, faster build infrastructure
node_js:
  - "0.10"
  - "0.12"
  - "stable"
script:
  - npm test
after_success:
  - npm run coveralls
